.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* .icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    position: relative;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    top: 50px;
    left: -100%;
    transition: 0.5s all;
  }

  .nav-links.active {
    background: #B99107;
    left: 0;
  }

  .nav-item:hover {
    color: white;
  }
}

/* .nav a{
  position: relative;
  display: block;
  text-decoration: none;
  color: #dadada;
  padding: 0.5em 0.75em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

a.active{
  background-color: teal;
} */

/* .nav-item {
  background-color: red;
} */
